<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.anaxoniclabs.balli.healthsync</string>
		<string>com.anaxoniclabs.balli.memory-sync</string>
		<string>com.anaxoniclabs.balli.dexcom-refresh</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.anaxoniclabs.balli</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.anaxoniclabs.balli</string>
			</array>
		</dict>
	</array>
	<key>PICOVOICE_ACCESS_KEY</key>
	<string>$(PICOVOICE_ACCESS_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>GalanoGrotesqueAltSemiBold.otf</string>
		<string>GalanoGrotesqueAltBold.otf</string>
		<string>PassionOne-Regular.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>Manrope-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
